#Configuration info
[Project Info]
    Project = 19031

[sHDR]
    #operation mode     operation_mode     LogicalCameraId
    Mode[0]        =     0x80A3;            0                #MOVIE VIDEO
    Mode[1]        =     0x80A4;            0                #MOVIE VIDEO EIS


[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8019;            0x0002;            0x0000;           1  #NIGHT   FRONT
    Mode[1]         =     0x800b;            0x0002;            0x0008;           3  #VIDEO   FRONT
    Mode[2]         =     0x800d;            0x0002;            0x0008;           2  #SLOM MOTION  FRONT
    Mode[3]         =     0x800c;            0x0002;            0x0000;           2  #TIME LAPSE  FRONT
    Mode[4]         =     0x8007;            0x0002;            0x0000;           2  #PANO  FRONT
    Mode[5]         =     0x8019;            0x0001;            0x0000;           2  #NIGHT  REAR
    Mode[6]         =     0x8011;            0x0001;            0x0000;           5  #PORTRAIT  REAR
    Mode[7]         =     0x8011;            0x0004;            0x0000;           1  #PORTRAIT  REAR_AUX
    Mode[8]         =     0x80a6;            0x0010;            0x0000;           0  #SUPER MACRO
    Mode[9]         =     0x8009;            0x0001;            0x0000;           1  #Professional REAR
    Mode[10]        =     0x8007;            0x0001;            0x0000;           2  #PANO REAR
    Mode[11]        =     0x800c;            0x0001;            0x0000;           4  #TIME LAPSE REAR
    Mode[12]        =     0x80a4;            0x0001;            0x0008;           2  #Movie REAR
    Mode[13]        =     0x800b;            0x0001;            0x0008;           4  #VIDEO   REAR

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 7
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMonoCameraConfiguration
    LogicalCamera[4] = SingleMacroCameraConfiguration
    LogicalCamera[5] = RTBUWWCameraConfiguration
    LogicalCamera[6] = RTBWMCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    oemCameraType      = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    oemCameraType      = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleMonoCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMonoCameraDeviceInfo
    primarySensorID    = 3
    oemCameraType      = 13

[SingleMonoCameraDeviceInfo]
    sensorId               = 3
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleMacroCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMacroCameraDeviceInfo
    primarySensorID    = 4
    oemCameraType      = 17

[SingleMacroCameraDeviceInfo]
    sensorId               = 4
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBUWWCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    CameraRole             = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWCameraDeviceInfo]
    sensorId               = 0
    CameraRole             = 2
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWMCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo1
    deviceInfo[1]      = RTBWCameraDeviceInfo1
    primarySensorID    = 0
    oemCameraType      = 15

[RTBUWCameraDeviceInfo1]
    sensorId               = 3
    CameraRole             = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWCameraDeviceInfo1]
    sensorId               = 0
    CameraRole             = 2
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true

###LogicalCameraConfiguration end

[SupportedImageSizes]
#                   width   height
ImageSizes[0]   =   9248;   6936
ImageSizes[1]   =   8000;   6000
ImageSizes[2]   =   7680;   5760
ImageSizes[3]   =   7680;   4320
ImageSizes[4]   =   7296;   5472
ImageSizes[5]   =   7296;   4112
ImageSizes[6]   =   7296;   3280
ImageSizes[7]   =   6560;   4928
ImageSizes[8]   =   6000;   6000
ImageSizes[9]   =   5472;   5472
ImageSizes[10]  =   4928;   4928
ImageSizes[11]  =   4624;   2608
ImageSizes[12]  =   4624;   2080
ImageSizes[13]  =   4608;   3456
ImageSizes[14]  =   4608;   2592
ImageSizes[15]  =   4000;   3000
ImageSizes[16]  =   4000;   2250
ImageSizes[17]  =   4000;   1800
ImageSizes[18]  =   3840;   2160
ImageSizes[19]  =   3468;   3468
ImageSizes[20]  =   3648;   2736
ImageSizes[21]  =   3280;   2460
ImageSizes[22]  =   3264;   2448
ImageSizes[23]  =   3264;   1836
ImageSizes[24]  =   3264;   1472
ImageSizes[25]  =   3200;   2400
ImageSizes[26]  =   3000;   3000
ImageSizes[27]  =   2592;   1944
ImageSizes[28]  =   2448;   2448
ImageSizes[29]  =   2400;   1080
ImageSizes[30]  =   2160;   1080
ImageSizes[31]  =   2304;   1728
ImageSizes[32]  =   1920;   1440
ImageSizes[33]  =   1920;   1080
ImageSizes[34]  =   1600;   1200
ImageSizes[35]  =   1600;   720
ImageSizes[36]  =   1440;   1080
ImageSizes[37]  =   1280;   960
ImageSizes[38]  =   1024;   768
ImageSizes[39]  =   1280;   720
ImageSizes[40]  =   1200;   1200
ImageSizes[41]  =   1080;   1080
ImageSizes[42]  =    800;   400
ImageSizes[43]  =    720;   480
ImageSizes[44]  =    640;   640
ImageSizes[45]  =    640;   480
ImageSizes[46]  =    352;   288
ImageSizes[47]  =    320;   240
ImageSizes[48]  =    176;   144

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30
    OemFpsRange[1] =        15 ;          15
    OemFpsRange[2] =        30 ;          30

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask
    Mode[0]      =     0x800B;      0x0001       #COMMON VIDEO REAR EIS
    Mode[1]      =     0x800C;      0x0001       #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF       #60FPS VIDEO
    Mode[3]      =     0x802B;      0xFFFF       #FRONT EIS VIDEO
    Mode[4]      =     0x80A2;      0xFFFF       #NIHGT VIDEO
    Mode[5]      =     0x80A4;      0x0001       #MOVIE EIS

    [EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       0;
    Mode[1]        =      0x0;            0x0002;        0x0000;       1;
    Mode[2]        =      0x0;            0x0001;        0x0000;       5;

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4608; 3456; 2304; 1728
    RearMonoBokehImgSizeList       = 4608; 3456; 1600; 1200

[RectifyNode]
    DCDataType = arcsoft

[QuadCFAPreCorrectionActiveArraySizeMap]
#The QuadCFAActiveArraySize obtained from the XML configuration file needs to be corrected by the default size
#                                               width    height
    quadCFAPreCorrectionActiveArraySize    =    4624;     3472;
    defaultActiveArraySize                 =    4608;     3456;
